<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<body>
    
    <form action="/story" id="story-form">
        {% for promt in prompts %}
        <label for="{{promt}}">{{promt}}</label>
        <input type="text" name="{{promt}}" id="">
        {% endfor %}
        <button>Submit</button>

    </form>


</body>
</html>